html, body{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
  }
  
  * {
    box-sizing: border-box;
  }
  
  body{
    padding: 50px;
  }
  
  .header {
    height: 70px;
    background-color:rgb(255, 255, 255);
  }
  
  .container{
    width: 800px;
    min-height: 1000px;
    margin: 0 auto;
    background: white;
  }
  
  .room{
    margin: 5px 5px;
    display: inline-flex;
    border: 2px solid rgb(42, 58, 49);
    width: 700px;
    height: 50px;
    padding: 16px;
    text-decoration: none;
    color: rgb(31, 7, 7);
    background-color:rgb(255, 255, 255);
  }
  
  .room:hover{
    opacity: 0.8;
  }
  
  .room:active{
    transform: scale(0.95);
  }
  
  .nav li a:hover{
    opacity: 0.8;
  }
  
  .nav li a:active{
    transform: scale(0.95);
  }
  
  .main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }